<Row>
    <Column>
        Using <code>&lt;BtnGroup&gt;</code>
    </Column>
</Row>
<Row>
    <Column>
        <BtnGroup>
            <BtnCheck>Item 1</BtnCheck>
            <BtnCheck>Item 2</BtnCheck>
            <BtnCheck>Item 3</BtnCheck>
        </BtnGroup>
    </Column>
</Row>
<Row class="mt-3">
    <Column>
        Vertical group
    </Column>
</Row>
<Row>
    <Column>
        <BtnGroup Vertical="true">
            <BtnCheck>Item 1</BtnCheck>
            <BtnCheck>Item 2</BtnCheck>
            <BtnCheck>Item 3</BtnCheck>
        </BtnGroup>
    </Column>
</Row>
<Row class="mt-3">
    <Column>
        Using <code>&lt;BtnToolbar&gt;</code>
    </Column>
</Row>
<Row>
    <Column>
        <div class="btn-toolbar">
            <BtnGroup class="me-2">
                <BtnCheck>Item 1</BtnCheck>
                <BtnCheck>Item 2</BtnCheck>
                <BtnCheck>Item 3</BtnCheck>
            </BtnGroup>
            <BtnGroup>
                <BtnCheck>Item 4</BtnCheck>
                <BtnCheck>Item 5</BtnCheck>
                <BtnCheck>Item 6</BtnCheck>
            </BtnGroup>
        </div>
    </Column>
</Row>

@code {

}
