@page "/"

<h1 class="display-1">Hello World</h1>
<h3>_1_Practice</h3>

<select class="dropdown" 
        name="Text_colours" 
        id="dd"
        onchange="r"> 

        @foreach (var template in templates)
         {
           <option class="@template.Item1" value=@template.Item2> @template.Item3 </option>
         }

</select>

<asp:DropDownList id="d">
    @foreach (var template in templates)
         {
           <option class="@template.Item1" value=@template.Item2> @template.Item3 </option>
         }
</asp:DropDownList>

<div class="row">
    <div class="col">
        <EditForm Model="Model">
            <TextInput Label="Test"
                       @bind-Value="Input"/>
        </EditForm>
    </div>
</div>

@code{
    private IndexModel Model { get; set; } = new IndexModel();

    string Input { get; set; }

    (int, int) x = (1, 1);

    List<(string, string, string)> templates = new List<(string, string, string)>() 
    { ("text-primary", "primary", "Primary"),
      ("text-secondary", "secondary", "Secondary"),
      ("text-success","success","Success"),
      ("text-danger","danger","Danger"),
      ("text-warning bg-dark","warning","Warning"),
      ("text-info bg-dark","info","Info"),
      ("text-light bg-dark","light","Light"),
      ("text-dark","dark","Dark"),
      ("text-body","body","Body"),
      ("text-muted","muted","Muted"),
      ("text-white bg-dark","white","White"),
      ("text-black-50","black_50","Black_50"),
      ("text-white-50 bg-dark","white_50","White_50"), };
    
    string SelectedString = "";

    string text_primary = "text-primary";

    void r(object sender, ChangeEventArgs e)
    {
        
    }

    private class IndexModel{}

   
}