<Row>
    <Column>
        Change tabs on each container below, then use this button to destroy, and then recreate that tab controls.
    </Column>
</Row>
<Row>
    <Column>
        <Btn OnClick="DestroyComponents">Recreate Component</Btn>
    </Column>
</Row>
<Row>
    <Column>
        <h6 class="fw-bold mb-2">Without binding to ActiveTabId</h6>
    </Column>
</Row>
<Row class="mb-4">
    <Column>
        @if (ShowComponents)
        {
            <TabContainer Fade="true">
                <Panes>
                    <TabPane Title="Tab 1">Content 1</TabPane>
                    <TabPane Title="Tab 2">Content 2</TabPane>
                    <TabPane Title="Tab 3">Content 3</TabPane>
                </Panes>
            </TabContainer>
        }
    </Column>
</Row>
<Row>
    <Column>
        <h6 class="fw-bold">With binding to ActiveTabId</h6>
    </Column>
</Row>
<Row>
    <Column>
        @if (ShowComponents)
        {
            <TabContainer @bind-ActiveTabIndex="ActiveTabIndex"
                          Fade="true">
                <Panes>
                    <TabPane Title="Tab 1">Content 1</TabPane>
                    <TabPane Title="Tab 2">Content 2</TabPane>
                    <TabPane Title="Tab 3">Content 3</TabPane>
                </Panes>
            </TabContainer>
        }
    </Column>
</Row>

@code {
    private int ActiveTabIndex { get; set; }

    private bool ShowComponents { get; set; } = true;

    private void DestroyComponents()
    {
        ShowComponents = false;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (!ShowComponents)
        {
            ShowComponents = true;
            StateHasChanged();
        }
    }
}
