@inherits BootstrapContainerBase

<div @attributes="AdditionalAttributes" class="@Classes">
    <CascadingValue Name="Accordion" Value="this">
        @ChildContent
    </CascadingValue>
</div>

@code {
    [Parameter]
    public bool AlwaysOpen { get; set; }

    protected override string DefaultClass { get; } = "accordion";

    private List<AccordionItem> AccordionItems { get; set; } = new List<AccordionItem>();

    private bool _isUpdatingItems;

    public void RegisterAccordionItem(AccordionItem accordionItem)
    {
        AccordionItems.Add(accordionItem);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            await OpenFirstItemByDefault();
        }
    }

    internal async Task SetExpandedItem(AccordionItem expandedItem)
    {
        if (!AlwaysOpen && !_isUpdatingItems)
        {
            _isUpdatingItems = true;
            foreach (var accordionItem in AccordionItems)
            {
                if (accordionItem != expandedItem && accordionItem.Expanded)
                {
                    await accordionItem.SetExpandedAsync(false);
                }
            }
            _isUpdatingItems = false;
        }
    }

    private async Task OpenFirstItemByDefault()
    {
        // this accordion could be recreated or the user may have a preference on which
        // item they want to open first, so don't set this if it's already set.
        if (AccordionItems.Any(x => x.Expanded))
            return;
        var first = AccordionItems.First();
        Console.WriteLine(first.Id);
        await first.SetExpandedAsync(true);
    }
}