@inherits BootstrapVariantContainerBase

<button @attributes="AdditionalAttributes"
        class="@Classes"
        @onclick="OnClick">
    @ChildContent
</button>

@code {
    public Btn() : base("primary") { }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    protected override string DefaultClass => $"btn btn-{Variance}";
}