@inherits BootstrapVariantContainerBase

<button type="button"
        @attributes="AdditionalAttributes"
        class="@Classes"
        @onclick="OnClick">
    @ChildContent
</button>

@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public string Size { get; set; }

    protected override string DefaultClass
    {
        get
        {
            var classBuilder = new ClassNameBuilder($"btn btn-{Variance}");

            if(Size != null)
            {
                classBuilder.AddClassName($"btn-{Size}");
            }

            return classBuilder.GetClassNames();
        }
    }

    public Btn() : base("primary") { }
}