@inherits BootstrapContainerBase

<li @attributes="AdditionalAttributes" class="@Classes">
    <button class="@AnchorClasses" @onclick="LinkClicked" type="button" role="tab">@ChildContent</button>
</li>
@code {
    protected override string DefaultClass => "nav-item";

    [Parameter]
    public bool Active { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> LinkClicked { get; set; }

    private string AnchorClasses
    {
        get
        {
            var classBuilder = new ClassNameBuilder("nav-link");

            if (Active)
            {
                classBuilder.AddClassName("active");
            }

            return classBuilder.GetClassNames();
        }
    }
}
