@inherits BootstrapContainerBase

<li @attributes="AdditionalAttributes" class="@Classes">
    <button class="@ButtonClasses"
            @onclick="LinkClicked"
            type="button"
            role="tab"
            aria-controls="@TabPane?.Id"
            aria-selected="@Active.ToString().ToLower()">@ChildContent</button>
</li>
@code {
    protected override string DefaultClass => "nav-item";

    [Parameter]
    public bool Active { get; set; }

    [Parameter]
    public string LinkClasses { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> LinkClicked { get; set; }

    [Parameter]
    public TabPane TabPane { get; set; }

    private string ButtonClasses
    {
        get
        {
            var classBuilder = new ClassNameBuilder("nav-link");

            if (Active)
            {
                classBuilder.AddClassName("active");
            }

            if(!string.IsNullOrWhiteSpace(LinkClasses))
            {
                classBuilder.AddClassName(LinkClasses);
            }

            return classBuilder.GetClassNames();
        }
    }
}
