@inherits BootstrapContainerBase

<div @attributes="@AdditionalAttributes" class="@Classes" id="@Id" @ref="TabPaneElement">@ChildContent</div>

@code {
    private int _id = GetNextId();
    private string _displayClasses;

    [Parameter]
    public string Id { get; set; }

    [CascadingParameter(Name = TabContainer.TabContainerParameterName)]
    public TabContainer TabContainer { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Inject]
    private IBootstrapJsService _bootstrapJSService { get; set; }

    internal bool Active { get; set; }

    internal bool Animated {  get;  set; }

    private ElementReference TabPaneElement { get; set; }

    /// <summary>
    /// Do not use this method. This is only meant to be called
    /// by JS interop.
    /// </summary>
    [JSInvokable]
    public async Task FadeEnd()
    {
        _displayClasses = null;
        StateHasChanged();
        TabContainer.FadeInActiveTab();
        await StopListeningForTransitionEnd();
    }

    public async Task MakeActive()
    {
        if (Active)
            return;

        await TabContainer.SetActiveTabAsync(this);
    }

    protected override string DefaultClass
    {
        get
        {
            var classBuilder = new ClassNameBuilder("tab-pane");

            if(Animated)
            {
                classBuilder.AddClassName("fade");
            }

            classBuilder.AddClassName(_displayClasses);

            return classBuilder.GetClassNames();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (TabContainer == null)
            throw new ArgumentNullException(nameof(TabContainer), $"{nameof(TabPane)} must be rendered inside of a {typeof(TabContainer)}");

        if(string.IsNullOrWhiteSpace(Id))
        {
            Id = $"BBBS_TabPane__{_id}";
        }

        Animated = TabContainer.Fade;
        await TabContainer.RegisterTab(this);
    }

    internal void Show()
    {
        if (Active)
            return;

        Active = true;
        _displayClasses = "active";

        if(Animated)
        {
            AfterRender(() =>
            {
                _displayClasses += " show";
                StateHasChanged();
            });
        }
    }

    internal void Hide()
    {
        if (Active == false)
            return;

        Active = false;

        if(Animated)
        {
            _displayClasses = "active";

            // This will execute JSInvokable FadeEnd
            AfterRenderAsync(ListenForTransitionEnd);
        }
        else
        {
            _displayClasses = null;
        }

        StateHasChanged();
    }

    private static int _nextId;
    private static int GetNextId()
    {
        if (_nextId == int.MaxValue)
            return _nextId = int.MinValue;

        return _nextId++;
    }

    private async Task ListenForTransitionEnd()
    {
        await _bootstrapJSService.AddEventListenerAsync(
                TabPaneElement,
                this,
                "transitionend",
                nameof(FadeEnd));
    }

    private async Task StopListeningForTransitionEnd()
    {
        await _bootstrapJSService.RemoveEventListenerAsync(
                TabPaneElement,
                "transitionend",
                nameof(FadeEnd));
    }
}
